<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Kraatshoeve - Wonen + zorg | Een kleinschalig zelfstandig woonomgeving op de Veluwe." />
  <title>{{ title }} - Kraatshoeve</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  {% include 'header.html' %}
  <main>
  
    {{ content }}
  
  </main>
  
  {% include 'footer.html' %}
  
  <script type="text/javascript" src="/js/kraatshoeve.js"></script>
</body>

</html>