  <!-- Navbar goes here -->
  <header class="bg-white shadow-lg">
    <div class="max-w-5xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex justify-between grow">
          <div>
            <!-- Website Logo -->
            <a href="/" class="flex items-center py-4 px-2">
              <img src="/img/kraatshoeve-250px.png" alt="Kraatshoeve" class="h-24 mr-2" />
            </a>
          </div>
          <!-- Primary Navbar items -->
          <nav class="desktop-menu hidden md:flex items-center space-x-2 text-xl font-heading">
            <a href="/ons-verhaal/" class="
                  {% if page.url == '/ons-verhaal/' %}active {% endif %}
                  py-4
                  px-4
                  text-kh-medium
                  border-b-4
                  border-transparent
                  hover:text-kh-dark
                ">Ons verhaal</a>
            <a href="/wie-doet-wat/" class="
                  {% if page.url == '/wie-doet-wat/' %}active {% endif %}
                  py-4
                  px-4
                  text-kh-medium
                  border-b-4
                  border-transparent
                  hover:text-kh-dark
                ">Wie doet wat</a>
            <a href="/bewoners/" class="
                {% if page.url == '/bewoners/' %}active {% endif %}
                py-4
                px-4
                text-kh-medium
                border-b-4
                border-transparent
                hover:text-kh-dark
              ">Bewoners</a>
            <a href="/vacatures/" class="
                  {% if page.url == '/vacatures/' %}active {% endif %}
                  py-4
                  px-4
                  text-kh-medium
                  border-b-4
                  border-transparent
                  hover:text-kh-dark
                  ">Vacatures</a>
          </nav>
        </div>
        <!-- Mobile menu button -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button" aria-label="Menu" aria-expanded="false">
            <svg aria-hidden="true" class="
                  w-12
                  h-12
                  text-kh-medium
                  hover:text-kh-dark
                  focus:text-kh-dark
                " x-show="!showMenu" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- mobile menu -->
    <nav class="hidden mobile-menu border-y-2 border-gray-100">
      <a href="/ons-verhaal/" class="
                {% if page.url == '/ons-verhaal/' %}active {% endif %}
                block
                text-lg
                px-2
                py-4
                hover:bg-kh-medium
                hover:text-kh-light
                focus:bg-kh-medium
                focus:text-kh-light
                transition
                duration-300
              ">Ons verhaal</a>
      <a href="/wie-doet-wat/" class="
                {% if page.url == '/wie-doet-wat/' %}active {% endif %}
                block
                text-lg
                px-2
                py-4
                hover:bg-kh-medium
                hover:text-kh-light
                focus:bg-kh-medium
                focus:text-kh-light
                transition
                duration-300
              ">Wie doet wat</a>
      <a href="/bewoners/" class="
              {% if page.url == '/bewoners/' %}active {% endif %}
              block
              text-lg
              px-2
              py-4
              hover:bg-kh-medium
              hover:text-kh-light
              focus:bg-kh-medium
              focus:text-kh-light
              transition
              duration-300
          ">Bewoners</a>
      <a href="/vacatures/" class="
                {% if page.url == '/vacatures/' %}active {% endif %}
                block
                text-lg
                px-2
                py-4
                hover:bg-kh-medium
                hover:text-kh-light
                focus:bg-kh-medium
                focus:text-kh-light
                transition
                duration-300
              ">Vacatures</a>
      </ul>
    </nav>
  </header>
